.form-box.createpassword{
    width: 300px;
    height: 400px; /* Định nghĩa chiều cao khung */
    overflow: auto; /* Tạo thanh cuộn nếu nội dung vượt quá chiều cao */
    border: 0px solid #ccc;
    padding: 70px 100px 70px -200px; /* Định nghĩa padding theo thứ tự top, right, bottom, left */
    overflow-x: hidden;
    position: absolute;
    margin-right: -30px;
    padding-right: 20px;
}


.wrapper .form-box.createpassword {
    position: absolute;
    transition: none;
    transform: translateX(420px);
}

.wrapper.active .form-box.createpassword {
    transition: .20s ease;
    transform: translateX(0);
}

/* khi lớp active được tạo ra thì sẽ thay đổi height */
.wrapper.active {
    height: 520px;
}

/*  Active class  */



.wrapper.form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--gray);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1em;
    font-weight: bold;
    /* khi ấn vô label thì sẽ không nhận */
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    padding: 0 35px 0 5px;
}

.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}