@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menu-bar {
    background: #B9B4C7;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li {
    width: 150px;
    margin: 15px;
    padding: 13px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
}

.active, .menu-bar ul li:hover {
    background: #FAF0E6;
    border-radius: 20px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #B9B4C7;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #fff;
}

