* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --accent-color: #069fe6;
    --light-gray: rgba(0, 0, 0, 0.1);
}

body {
    min-height: 100vh;
    background-color: #f0ebeb;
    overflow: hidden;
}

#open_cart_btn {
/*    position: absolute;
    top: 10px;
    right: 30px;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;*/
}

.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -10px 0 15px var(--light-gray);
    overflow: scroll;
    transform: translateX(110%);
    transition: .5s ease-in-out;
}

.sidecart.open {
    transform: translateX(0);
}

.sidecart::-webkit-scrollbar {
    width: 0.5em;
    /* Chiều rộng của thanh cuộn */
}

.cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.cart_header {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    position: relative;
}

.header_title span {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cart  */

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

.item_img {
    flex: 1;
}

.remove_item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove_item span {
    color: #fff;
    font-size: 20px;
    user-select: none;

}

.item_img img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.item_details {
    flex: 2;
    padding-top: 2em;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.item_details .qty {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item_details .qty span {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
    box-shadow: 3px 3px 5px var(--light-gray);
    user-select: none;
    transition: scale 0.2s ease;
}

.item_details .qty span:hover {
    scale: 1.1;
}

.item_details .qty span:active {
    scale: 1.1;
}

.qty span:first-of-type {
font-size: 2rem;
padding-bottom: 5px;

}

.cart_items {
    flex: 1;
    overflow-x: hidden;
}

.cart_item {
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border-bottom: 1px solid var(--light-gray);
}

.cart_actions {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--light-gray);
    box-shadow: 0 -5px 10px var(--light-gray);

    position: sticky;
    bottom: 0;
    background-color: #fff;
}

.cart_actions .subtotal {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions button {
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart_actions button:nth-of-type(2) {
    background-color: var(--accent-color);
}








