@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 1.15;
}

.headline h2 {
    margin: 10px;
    border-bottom: 2px solid black;
    padding: 5px;
    margin-right: 70px;
}
.headline h2:hover {
    color: #807c7c;
    cursor: pointer;
}

.product-item img {
    max-width: 150px;
    height: auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    list-style: none;
}

.products  .product-info{
    padding: 10px 0px;
}

.products  .product-info a{
    display: block;
    text-decoration: none;
}

.products  .product-info a.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

.products  .product-info a.product-name{
    color: #334862; 
}

.products  .product-info .product-price{
    color: #111; 
    padding: 2px 0px;
    font-weight: 600;
}
.products  .product-top{
    position: relative;
    overflow: hidden;
}
.products  .product-top .product-thumb{
    display: block;
}
.products  .product-top .product-thumb img {
    display: block;
}

.products :hover .product-top .product-thumb img {
    filter: opacity(80%);
}
.products .product-inner .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 15px 0px;
    position: absolute;
    bottom: -50px;
    width: 100%;
    transition: .25s ease-in-out;
    opacity: 0.85;
}
/*.product-inner:hover {
    transform: scale(1.05);
}*/

.products .product-inner:hover a.buy-now{
    bottom: 0px;
}

.bestSeller-photo img:hover {
    transform: scale(1.05);
}

/* Chia cột product */
.whey-products {
    display: flex;
}
.bestSeller-photo img{
    width: 100%;
}
.bestSeller-photo {
    width: 30%;
}
.products {
    width: 70%;
}

#product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px; /* Add some negative margin to counteract padding */
}

.product-item {
    flex-basis: calc(25% - 30px); /* 4 items per row */
    margin-bottom: 30px;
    padding: 0 15px;
    /*box-sizing: border-box;*/
    width: 2000px;
}






